input[name="del_filter"]{

    background: none;
    border: none;
    font-size: 16px;
    font-weight: 500;
    font-family: HyundaiSansHead-Medium;
    color: #2a2a2a;
    line-height: 61px;
    text-align: left;
    cursor:pointer;

}
