.test-drive-main {
	background: #202020 url('/media/img/test_drive_imgs/ui/test_drive_bgr.jpg') no-repeat center top;
}
.map-overlayed {
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    position: fixed;
    z-index: 201;
}
.map_canvas_wrap {
	position: fixed;
	opacity: 0;
	margin: 0;
	top: 50%;
	left: -940px;
	width: 940px;
	height: 550px;
	z-index: 200;
	transition: opacity 200ms;
}
.map_canvas_wrap.vis {
	left: 50%;
	opacity: 1;
	margin: -275px 0 0 -470px;
}
#map_canvas {
	height: 550px;
	z-index: 202;
}
.closeMap {
	background: #9a9a9a;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 32px;
    height: 48px;
    padding: 0 0 0 15px;
    position: absolute;
    right: 0;
    top: 0;
    width: 48px;
    z-index: 203;
    transition: background 200ms;
    -webkit-transition: background 200ms;
}
.closeMap:hover {
	background: #1a85ca;
}
/*
PREFOOTER BANNERS BACKGROUND CHANGE - TEMP
*/
.test-drive-main .offers__prefooter-banner {
	background: #202020 url('/media/img/test_drive_imgs/ui/test_drive_bgr.jpg') no-repeat center top;
}
.test-drive-content {
	padding-top: 90px;
}
.test-drive-content .offers__content-title.skyblue{
	font-size: 40px;
  	margin-bottom: 25px;
}
/* TEST DRIVE GRID */
.info-gather__body {
	border-top: 1px solid #353535;
	border-bottom: 1px solid #353535;
	padding: 25px 0 15px;
	margin: 0 0 30px;
}
.info-gather__col {
	width: 290px;
	margin-right: 35px;
}
.info-gather__col:last-child {
	margin-right: 0;
}
.info-gather__col__title {
    color: rgb(255, 255, 255);
    font-family: "HyundaiSans";
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 500;
}

/*DROPS*/
.carlistdropdown, .dealerlistdropdown, .dealercitylistdropdown {
    position: relative;
    height: 45px;
    overflow: visible;
    max-height: 290px;
}
.drop-it-down {
    position: relative;
    background: transparent;
    border-color: #505050;
    width: 290px;
    text-decoration: none;
    box-sizing: border-box;
    transition: border-color 200ms, height 200ms;
    background: rgba(32,32,32,0.98);
}
.is-dropped {
    height: 290px;
    background: rgba(32,32,32,0.98);
    border-color: #fff  !important;
    z-index: 30;
}
.dealercitylistdropdown {
    z-index: 25;
}
.dealerlistdropdown {
    z-index: 20;
    margin: 17px 0 0;
}
.dealer__location-dropdown.drop-it-down.isDealerselected {
    border-bottom-color: transparent;
}
.drop-it-down:hover,
.drop-it-down:hover .dealer__location-dropdown.drop-it-down.isDealerselected.is-dropped {
    border-color: #fff !important;
}
.drop-it-down:focus {
    outline: none;
}
.info-gather__col .dealer__location-dropdown {
    z-index: 50;
}
.drop-it-down .dropdown-item {
    color: #fff;
    cursor: pointer !important;
    transition: color 200ms;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.drop-it-down .dropdown-item.active {
    color: #1a85ca;
}
.drop-it-down .dropdown-item:hover {
    text-decoration: underline;
}
/*first and divider*/
/*
.drop-it-down .dropdown-item.first {
    background: rgba(0, 0, 0, 0) url("/media/img/dropdown-icon.png") no-repeat scroll 237px -8px;
    color: #fff;
    width: 250px;
    padding-left: 0;
    margin: 8px 0 0;
    padding-bottom: 13px;
    border-color: #505050;
}
*/
.dropdown-item.first {
    background: rgba(0, 0, 0, 0) url("/media/img/dropdown-icon.png") no-repeat scroll 258px -1px;
    color: #fff;
    width: 250px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    margin-top: 0;
    padding-bottom: 13px;
    border-color: #505050;
    box-sizing: content-box;
    z-index: 120;
}
.dropdown-list.first {
	padding: 0;
	margin: 0px !important;
}
.is-dropped.drop-it-down .dropdown-item.first {
    color: #757575;
    background: rgba(0, 0, 0, 0) url("/media/img/dropdown-icon.png") no-repeat scroll 258px -46px;
}
.drop-it-down .dropdown-item.first::before {
    content: none;
}
#dropdown-dealerlisting.drop-it-down .dropdown-list.first .dropdown-item.first {
	color: #757575;
}
#dropdown-dealerlisting.drop-it-down .dropdown-list.first .dropdown-item.first:hover {
	color: #ababab;
}
#dropdown-dealerlisting.drop-it-down.isDealerselected .dropdown-list.first .dropdown-item.first {
	color: #fff;
}
.drop-it-down .dropdown-item.divider {
    color: #757575;
}
.drop-it-down .dropdown-item.divider:hover,
.drop-it-down .dropdown-item.first:hover  {
	text-decoration: none;
}
.selected-dealer__wrap {
    left: 0;
    top: 0;
    background: rgba(32,32,32,0.98);
    position: relative;
    margin: -1px 0 17px;
	padding: 0;
    overflow: hidden;
    border: 1px solid #505050;
    border-top-color: #202020;
    z-index: 15;
    opacity: 0;
    transition: opacity 200ms;
}
.selected-dealer__wrap.active{
    padding: 0 20px 35px;
	opacity: 1;
}
.selected-dealer__wrap #selected-dealer {
	border-top: 1px solid #505050;
    padding: 0;
}
.selected-dealer__wrap.active #selected-dealer {
    border-top: 0 none;
    padding-top: 20px;
}
#selected-dealer > span,
#selected-dealer > span > a {
    display: block;
    font-size: 14px;
    font-family: "HyundaiSans";
    color: rgb(117, 117, 117);
    line-height: 15px;
    margin-bottom: 6px;
}
#selected-dealer > span > a {
    display: block;
    font: inherit;
    color: rgb(117, 117, 117);
    line-height: 15px;
    margin-bottom: 0px;
}
/*
next styles
*/
.show-map {
    font-size: 14px;
    margin-left: 21px;
    position: relative;
    text-decoration: none !important;
}
.show-map::before {
    background: transparent url("/media/img/map-icon.png") no-repeat scroll center center;
    content: "";
    display: inline-block;
    height: 16px;
    left: -23px;
    position: absolute;
    top: 1px;
    width: 16px;
}
.car-about {
    background: transparent url("/media/img/hp_icon_link.png") no-repeat scroll 140px 6px;
    color: #1a85ca;
    font-family: "Arial",Arial,sans-serif;
    font-size: 16px;
    margin-top: 15px;
    padding-right: 15px;
    position: relative;
	text-decoration: none !important;
}
.car-about.underlined::after {
	width: 90%;
}
.currentCarImg__wrap {
    height: 197px;
    margin-top: 15px;
    width: 290px;
}
.currentCarImg__wrap > .currentCarImg {
    left: -50%;
    margin-left: 111px;
    margin-top: -75px;
    position: relative;
    top: 50%;
}

/*	PERSONAL BLOCK	*/
.selectMr__wrap {
	height: 45px;
	width: 290px;
	margin-bottom: 17px;
}
/* ie8 */
.selectMr__option {
	vertical-align: top;
	margin: 0 3px 0 0;
	width: 17px;
	height: 17px;
}
.selectMr__option + label {
	cursor: pointer;
}

/* modern */
.selectMr__option:not(checked) {
	position: absolute;
	opacity: 0;
}
.selectMr__option:not(checked) + label {
    color: #fff;
    display: inline-block;
    font-family: "HyundaiSans";
    font-size: 15px;
    line-height: 45px;
    padding: 0 0 0 45px;
    position: relative;
}
.selectMr__wrap > label:last-of-type {
    float: right;
    padding-right: 10px;
}
.selectMr__option:not(checked) + label::before {
    background: transparent;
    border: 1px solid #505050;
    border-radius: 18px;
    box-sizing: border-box;
    content: "";
    height: 35px;
    left: 0;
    position: absolute;
    top: 5px;
    transition: border-color 200ms ease 0s;
    width: 35px;
}
.selectMr__option:not(checked) + label::after {
    background: #1a85ca;
    border-radius: 5px;
    content: "";
    height: 9px;
    left: 13px;
    opacity: 0;
    position: absolute;
    top: 18px;
    transition: opacity 200ms ease 0s;
    width: 9px;
}
.selectMr__option:checked + label::after {
	opacity: 1;
}
.selectMr__option:hover + label::before {
    border: 1px solid #fff;
    background: #202020;
}
.controls__wrap {
	margin-bottom: 17px;
	position: relative;
}
.controls__wrap input {
	padding-left: 20px;
	box-sizing: border-box;
	height: 45px;
	width: 290px;
	color: #fff;
	border: 1px solid #505050;
	font-family: "HyundaiSans";
	font-size: 15px;
	background: transparent;
	position: relative;
	-ms-transition: background-color 200ms, border-color 200ms, color 200ms;
	-webkit-transition: background-color 200ms, border-color 200ms, color 200ms;
	-moz-transition: background-color 200ms, border-color 200ms, color 200ms;
	-o-transition: background-color 200ms, border-color 200ms, color 200ms;
	transition: background-color 200ms, border-color 200ms, color 200ms;
}
.controls__wrap input.inactive {
	color: #757575;
}
/* I KNOW THAT FF DOESNT SOPPORT THIS PLACEHOLDER'S TRANSITIONS.
   I TRIED.. HOPE IT WILL HELPS IN THE FUTURE.
*/
.controls__wrap input::-webkit-input-placeholder {color:#757575; opacity: 1; -webkit-transition: color 200ms ease 0s; -moz-transition: color 200ms ease 0s; -o-transition: color 200ms ease 0s; -ms-transition: color 200ms ease 0s; transition: color 200ms ease 0s;}
.controls__wrap input::-moz-placeholder          {color:#757575; opacity: 1; -webkit-transition: color 200ms ease 0s; -moz-transition: color 200ms ease 0s; -o-transition: color 200ms ease 0s; -ms-transition: color 200ms ease 0s; transition: color 200ms ease 0s;}/* Firefox 19+ */
.controls__wrap input:-moz-placeholder           {color:#757575; opacity: 1; -webkit-transition: color 200ms ease 0s; -moz-transition: color 200ms ease 0s; -o-transition: color 200ms ease 0s; -ms-transition: color 200ms ease 0s; transition: color 200ms ease 0s;}/* Firefox 18- */
.controls__wrap input:-ms-input-placeholder      {color:#757575; opacity: 1; -webkit-transition: color 200ms ease 0s; -moz-transition: color 200ms ease 0s; -o-transition: color 200ms ease 0s; -ms-transition: color 200ms ease 0s; transition: color 200ms ease 0s;}
.controls__wrap input:hover::-webkit-input-placeholder {color: #ababab; opacity: 1;}
.controls__wrap input:hover::-moz-placeholder          {color: #ababab; opacity: 1;}/* Firefox 19+ */
.controls__wrap input:hover:-moz-placeholder           {color: #ababab; opacity: 1;}/* Firefox 18- */
.controls__wrap input:hover:-ms-input-placeholder      {color: #ababab; opacity: 1;}
.controls__wrap input:focus::-webkit-input-placeholder {color: #fff; opacity: 1;}
.controls__wrap input:focus::-moz-placeholder          {color: #fff; opacity: 1;}/* Firefox 19+ */
.controls__wrap input:focus:-moz-placeholder           {color: #fff; opacity: 1;}/* Firefox 18- */
.controls__wrap input:focus:-ms-input-placeholder      {color: #fff; opacity: 1;}
.controls__wrap input:hover, .controls__wrap input:focus {
	border: 1px solid #fff;
	background: #202020;
	outline: none;
}
.controls__wrap input:focus {
	color: #fff;
}
/*---------------------------------------------------------------------*/
/* INPUT ERRORS */
.controls__wrap.incorrect input {
	border: 1px solid #1a85ca;
	background: transparent url("/media/img/test_drive_imgs/ui/form-incorrect-ico.png") no-repeat scroll 259px 12px;
}
.controls__wrap.incorrect input:hover {
	background: transparent url("/media/img/test_drive_imgs/ui/form-incorrect-ico.png") no-repeat scroll 259px -69px;
}
.controls__wrap.incorrect::before {
    background-color: #1a85ca;
    bottom: 55px;
    color: #fff;
    content: attr(data-content);
    font-family: "HyundaiSans";
    font-weight: 500;
    font-size: 14px;
    margin-right: -90px;
    padding: 10px 20px;
    position: absolute;
    right: 15px;
    text-align: center;
    white-space: pre;
    width: 200px;
	transform: translateY(12px);
	opacity: 0;
	transition: opacity 200ms, transform 200ms;
}
.controls__wrap.incorrect::after {
    border-color: #1a85ca transparent transparent;
    border-style: solid;
    border-width: 6px;
    bottom: 43px;
    content: "";
    display: block;
    position: absolute;
    right: 15px;
	transform: translateY(12px);
	opacity: 0;
	transition: opacity 200ms, transform 200ms;
}
.controls__wrap.incorrect:hover::before {
    opacity: 1;
    transform: translateY(0);
}
.controls__wrap.incorrect:hover::after {
    opacity: 1;
    transform: translateY(0);
}
/* DEALER ERROR */
.dealerlistdropdown.incorrect {
    z-index: 50;
}
.controls__wrap.incorrect input {
	border: 1px solid #1a85ca;
}
.dealerlistdropdown.incorrect .drop-it-down {
    border-color: #1a85ca;
	background: rgba(32, 32, 32, 0.98) url("/media/img/test_drive_imgs/ui/form-incorrect-ico.png") no-repeat scroll 220px 12px
}
.dealerlistdropdown.incorrect:hover .drop-it-down {
    border-color: #1a85ca;
	background: rgba(32, 32, 32, 0.98) url("/media/img/test_drive_imgs/ui/form-incorrect-ico.png") no-repeat scroll 220px -69px
}
.dealerlistdropdown.incorrect::before {
    background-color: #1a85ca;
    bottom: 55px;
    box-sizing: content-box;
    color: #fff;
    content: "ÐŸÐ¾Ð¶Ð°Ð»ÑƒÐ¹ÑÑ‚Ð°, \a Ð²Ñ‹Ð±ÐµÑ€Ð¸Ñ‚Ðµ Ð´Ð¸Ð»ÐµÑ€Ð°.";
    font-family: "HyundaiSans";
    font-weight: 500;
    font-size: 14px;
    margin-right: -76px;
    opacity: 0;
    padding: 10px 20px;
    position: absolute;
    right: 15px;
    text-align: center;
    transform: translateY(12px);
    transition: opacity 200ms ease 0s, transform 200ms ease 0s;
    white-space: pre;
    width: 140px;
}
.dealerlistdropdown.incorrect::after {
    border-color: #1a85ca transparent transparent;
    border-style: solid;
    border-width: 6px;
    bottom: 43px;
    content: "";
    display: block;
    opacity: 0;
    position: absolute;
    right: 21px;
    transform: translateY(12px);
    transition: opacity 200ms ease 0s, transform 200ms ease 0s;
}
.dealerlistdropdown.incorrect:hover::before {
    opacity: 1;
    transform: translateY(0);
}
.dealerlistdropdown.incorrect:hover::after {
    opacity: 1;
    transform: translateY(0);
}
/* AGREE ERROR */
.legal-info.incorrect {
    z-index: 50;
}
.legal-info.incorrect .drop-it-down {
    border-color: #1a85ca;
}
.legal-info.incorrect::before {
    opacity: 1;
    transform: translateY(0);
}
.legal-info.incorrect::after {
    opacity: 1;
    transform: translateY(0);
}
.legal-info::before {
    background-color: #1a85ca;
    bottom: 55px;
    color: #fff;
    content: "ÐŸÐ¾Ð¶Ð°Ð»ÑƒÐ¹ÑÑ‚Ð°, \a ÑÐ¾Ð³Ð»Ð°ÑÐ¸Ñ‚ÐµÑÑŒ Ñ Ð¿Ñ€Ð°Ð²Ð¸Ð»Ð°Ð¼Ð¸";
    font-family: "HyundaiSans";
    font-weight: 500;
    font-size: 14px;
    left: -86px;
    padding: 10px 20px;
    position: absolute;
    text-align: center;
    opacity: 0;
    transform: translateY(12px);
    white-space: pre;
    width: 180px;
    transition: opacity 200ms ease 0s, transform 200ms ease 0s;
    box-sizing: content-box;
}
.legal-info::after {
    border-color: #1a85ca transparent transparent;
    border-style: solid;
    border-width: 6px;
    bottom: 43px;
    content: "";
    display: block;
    left: 15px;
    opacity: 0;
    position: absolute;
    transform: translateY(12px);
    transition: opacity 200ms ease 0s, transform 200ms ease 0s;
}
.legal-info.incorrect .agree_rules:not(checked) + label::before{
    border-color: #1a85ca;
}
.show-legal {
    bottom: 8px;
    display: block;
    font-size: 14px;
    left: 57px;
    position: relative;
    text-decoration: none !important;
    width: 124px;
    white-space: nowrap;
}
.legal-info {
	position: relative;
	margin-bottom: 75px;
}
.agree_rules:not(checked) {
	position: absolute;
	opacity: 0;
}
.agree_rules:not(checked) + label {
    color: #fff;
    display: inline-block;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    line-height: 30px;
    margin-right: 50px;
    padding: 0 0 0 58px;
    position: relative;
    cursor: pointer;
}
.agree_rules:not(checked) + label::before {
    background: transparent;
    border: 1px solid #505050;
    box-sizing: border-box;
    content: "";
    height: 40px;
    left: 0;
    position: absolute;
    top: 5px;
    transition: border-color 200ms ease 0s;
    width: 40px;
}
.agree_rules:not(checked) + label::after {
    background: transparent url("/media/img/test_drive_imgs/ui/checked.png") no-repeat scroll 15px 18px;
    content: "";
    height: 40px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 200ms ease 0s;
    width: 40px;
}
.agree_rules:checked + label::after {
	opacity: 1;
}
.agree_rules:hover + label::before {
    border: 1px solid #fff;
    background: #202020;
}
.controls__wrap {
	margin-bottom: 17px;
}
.send-req {
    background: #1a85ca;
    color: #fff;
    cursor: pointer;
    font-family: "Arial";
    font-size: 12px;
    font-weight: 900;
    padding: 18px 0 14px;
    text-align: center;
    text-transform: uppercase;
    transition: background 200ms ease 0s;
    width: 290px;
    height: 40px;
}
.tip_alert{position: fixed; z-index: 9999999; background: #071E40; opacity: 0.9; display: flex; left: 0px; top: 0px; right:0px; bottom: 0px; color:#fff; text-align: center; font-size: 30px;}
.tip_alert p{margin: auto!important;}
.dd{color: #fff;
    background: #1a85ca;
    padding: 10px;
    position: absolute;
    margin-top: -48px;
    z-index: 999;
    font-size: 14px;
display: none;}

.city{padding-top: 10px;
    padding-left: 20px;
    box-sizing: border-box;
    height: 45px;
    width: 290px;
    color: #fff;
    border: 1px solid #505050;
    font-family: "HyundaiSans";
    font-size: 15px;
    background: transparent;
    position: relative;}
.send-req:hover {
	background: #1fa1f5;
}
/*
POP UP
*/
.gm-style .gm-style-iw__testdrive {
    width: 250px !important;
    padding: 30px !important;
    box-sizing: border-box;
}
.pop_text__test-drive > span {
	color: #959595;
}
.test-drive___select-dealer-link {
	display: block;
	margin: 0 auto;
	width: 190px;
	line-height: 48px;
	background-color: #1a85ca;
	font-size: 13px;
	font-family: "HyundaiSans";
	font-weight: 600;
	color: #fff !important;
	text-transform: uppercase;
	text-align: center;
}
.test-drive___select-dealer-link:hover {
	color: #fff;
	text-decoration: none;
}
/*
MAP and LEGAL POPUP
*/
.test-drive-popup {
	background: #fff;
	position: absolute;
	width: 940px;
	height: 550px;
	top: 50%;
	left: 0;
	right: 0;
	margin: -275px auto 0;
	z-index: 150;
	box-sizing: border-box;
}
.test-drive-popup__map #map_canvas {
	height: 550px;
}
.test-drive-popup__legal {
	padding: 45px 55px;
}
.test-drive-popup__legal h2 {
    font-family: "HyundaiSansHead";
    font-weight: normal;
    font-size: 30px;
    line-height: 1;
    margin-bottom: 25px;
}
.test-drive-popup__legal .offers__text{
	font-size: 13px;
	font-family: "Arial", sans-serif;
	width: 380px;
	color: #505050;
	line-height: 1;
  	line-height: 1.385;
	text-align: left;
}
.test-drive-popup__legal .offers__text strong{
	font-weight: 800;
}
.test-drive-popup__legal .offers__text:last-child{
	margin-left: 70px;
}
.closeIt {
	background: #9a9a9a;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 32px;
    height: 48px;
    padding: 0 0 0 15px;
    position: absolute;
    right: 0;
    top: 0;
    width: 48px;
    z-index: 155;
    transition: background 200ms;
    -webkit-transition: background 200ms;
}
.closeIt:hover {
	background: #1a85ca;
}
#test-drive-response {
    background: url('/media/img/check.jpg') no-repeat center 45px #fff;
    bottom: 0;
    box-sizing: border-box;
    height: 260px;
    left: 0;
    margin: auto;
    padding: 120px 0 40px;
    position: absolute;
    right: 0;
    top: 0;
    width: 465px;
    z-index: 150;
}
#test-drive-response h2 {
    font-family: "HyundaiSansHead";
    font-size: 25px;
    line-height: 40px;
    margin-bottom: 5px;
    text-align: center;
}
#test-drive-response .text {
    color: #7e7e7e;
    line-height: 24px;
    text-align: center;
    display: none;
}
.overlayed {
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    position: fixed;
    z-index: 200;
}
/*
.overlayed.map-wrap {
	left: -999999px;
	display: block;
}
*/

.layout-black {
    background: rgba(0, 0, 0, 0.5);
    border: 0 none;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.progress-ring-wrap {
    left: 50%;
    margin-left: -100px;
    margin-top: -100px;
    opacity: 1;
    top: 50%;
    z-index: 10000;
}
/*
.legal-info::before {
    padding: 0 !important;
}
*/
.progress-ring {
    animation: 1.5s linear 0s normal none infinite running spin360;
}
@keyframes spin360 {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}
@keyframes spin360 {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}
@keyframes spin360 {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}