
.nav.navbar-nav.right li a.street{
    padding-top: 5px;
    padding-bottom: 0;
}

.grey-form{
    display: block;
    font-size: 13px;
    padding: 17px 0;
    color: #9d9d9d;
}

.checkbox{
    margin: 20px auto;
    padding-left: 0;
}

.no-padding{
    padding: 0;
}
.chenge-shop{
    padding: 15px 0;
}

.p-input select {
    width: 100%;
    height: 58px;
    border-radius: 20px;
    padding: 0 20px;
    border: 2px solid #f2f2f2;
    margin-bottom: 10px;
}

.checkbox .cr{
    background: #FFF;
}