@charset "UTF-8";

.zing_call_btn {
	display: none !important;
}

.dealer__container {
	background: #fff;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 100%;
	z-index: 50;
	font-size: 12px;
}

.dealer__content_wrap {
	margin: 0px auto 0;
	position: relative;
}

.dealer__title_area {
	margin: 0 auto;
	padding: 20px 0 25px;
	position: relative;
	width: 940px;
}

.dealer__title_area .title {
	float: left;
	font-family: "HyundaiSansHead";
	font-size: 40px;
	font-weight: lighter;
	line-height: 1.2;
	margin: 0;
}

.dealer__maps {
	margin: 0 auto;
}

.dealer__map_container {
	float: none;
	width: 100%;
	position: relative;
}
.map_info{
	position: absolute;
	z-index: 30;
	width: 300px;
	background: #FFF;
	padding: 10px;
	top: 20%;
	left: 10%;
}

.map_info .map_text{
	margin-top: 10px;
}
.map_info .map_text p:first-child{
	font-weight: bold;
}
.map_info .map_text a{
	color: #1a85ca;
}

#map_canvas {
	width: 100%;
	height: 420px;
}

@media screen and (max-width: 1024px) {
	#map_canvas {
		height: 380px;
	}
}

/*nano*/
/** initial setup **/
.nano {
	position: relative;
	width: 100%;
	height: 233px;
	overflow: hidden;
}

.nano > .nano-content {
	position: absolute;
	overflow: scroll;
	overflow-x: hidden;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin-top: 15px;
}

.nano > .nano-content:focus {
	outline: thin dotted;
}

.nano > .nano-content::-webkit-scrollbar {
	display: none;
}

.has-scrollbar > .nano-content::-webkit-scrollbar {
	display: block;
}

.nano > .nano-pane {
	background: #1a85ca;
	position: absolute;
	bottom: 0;
	visibility: hidden \9; /* Target only IE7 and IE8 with this hack */
	opacity: .01;
	-webkit-transition: .2s;
	-moz-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	right: 26px;
	top: 15px;
	width: 1px;
	z-index: 50;
}

.nano > .nano-pane > .nano-slider {
	background: #1a85ca none repeat scroll 0 0;
	border-radius: 2px;
	margin: 0 -3px;
	position: relative;
	width: 7px;
}

.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
	visibility: visible \9; /* Target only IE7 and IE8 with this hack */
	opacity: 0.99;
}

/*PREVENT FOCUS BORDER*/
.nano > .nano-content:focus {
	outline: none;
}

/*end nano*/

.dealer__location-dropdown {
	display: none;
	/*    position: absolute;
		height: 45px;
		width: 270px;
		border: 1px solid #cfcfcf;
		color: #404040;
		font-size: 14px;
		overflow: hidden;
		right: 0;
		top: 117px;
		z-index: 100;
		background: #fff;
		cursor: pointer;*/
}

.dropdown-list {
	padding: 0 20px;
	margin: 0px !important;
}

.dropdown-first {
	padding: 0 20px;
	position: relative;
	z-index: 110;
}

.dropdown-item {
	color: #303030;
	cursor: pointer;
	display: block;
	font-family: "HyundaiSans";
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	padding: 6px 0 12px;
	width: 100%;
}

.dropdown-item.active {
	color: #1a85ca;
}

.dropdown-item.first {
	background-color: #fff;
	background-image: url("/media/img/dropdown-icon.png");
	background-position: 218px -7px;
	background-repeat: no-repeat;
	border-bottom: 1px solid #fff;
	cursor: pointer;
	margin: 7px 0 0;
	padding-left: 25px;
	width: 205px;
	z-index: 120;
	box-sizing: content-box;
}

.dropdown-item.first-active {
	background-position: 218px -52px;
	border-bottom: 1px solid #ebebeb;
	color: #ababab;
	padding-bottom: 14px;
	padding-left: 0;
	width: 230px;
}

.dropdown-item.first::before {
	background: transparent url("/media/img/map-icon.png") no-repeat scroll center center;
	content: "";
	display: inline-block;
	height: 18px;
	left: 14px;
	position: absolute;
	width: 25px;
}

.dropdown-item.divider {
	color: #ebebeb;
	cursor: default;
	font-weight: bolder;
}

.dropdown-item.divider:hover {
	color: #ebebeb;
}

.dropdown-item.first-active:before {
	display: none;
}

.dropdown-item.first:hover {
	color: #ababab;
}

.dropdown-item:hover {
	color: #1a85ca;
}

/*      infowindow     */

.infoWindow-close {
	background: transparent url("/media/img/map-icon-close.png") no-repeat scroll center center;
	right: 20px !important;
	top: 20px !important;
}

.hideThis {
	display: none;
}

.gm-style-parent {
	background: #fff;
	width: auto !important;
	height: auto !important;
	/*box-shadow: 1.5px 2.598px 6px 0px rgb(13,15,19);*/
}

.gm-style-parent:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #fff;
	border-width: 8px;
	margin-top: -8px;
}

.gm-style-child-1 {
	/*display: none !important;*/
	border: none !important;
	border-radius: none !important;
}

.gm-style-child-2 {
	background: none !important;
	box-shadow: none !important;
	border-radius: unset !important;
}

.gm-style-child-4 {
	border-radius: unset !important;
}

.gm-style-child-trin {
	box-shadow: none !important;
}

/*remove these importants - cssstyleru conflicting*/
.dealer-info {
	background-color: none !important;
	border: none !important;
	margin: 0 !important;
	padding: 0 !important;
}

/*
.dealer-test-drive {
    background: #1a85ca url("/media/img/map-icon-arrow.png") no-repeat scroll 150px center;
    box-sizing: border-box;
    width: 210px;
    height: 45px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 45px;
    text-transform: uppercase;
    background-color: #1a85ca;
    color: #fff;
    padding: 0 16px 0 0;
}
.dealer-test-drive_parent-link:hover {
    text-decoration: none;
}
*/
.dealer-name {
	border-bottom: 1px solid #ebebeb;
	color: #303030;
	font-family: 'HyundaiSans';
	font-size: 20px;
	font-weight: 500;
	line-height: 1.1;
	margin-bottom: 25px !important;
	padding-bottom: 15px !important;
	padding-right: 10px;
	text-align: left;
}

.pop_text {
	font-family: Arial, sans-serif;
	font-size: 14px;
	text-align: left;
	margin-bottom: 15px !important;
}

.pop_text > span {
	display: block;
	margin-bottom: 5px;
}

.pop_text .dealer-site a {
	color: #1a85ca;
	white-space: pre-line;
}

.gm-style .gm-style-iw {
	overflow: hidden !important;
	width: 210px !important;
	height: auto !important;
	padding: 25px !important;
	position: relative !important;
	box-sizing: content-box;
}

.gm-style-iw .call-to-dealer {
	display: none;
}

/*--------------listing-------------*/
.dealer__map_results {
	width: 940px;
	height: auto;
	margin: 0 auto;
	padding-top: 25px;
}

.dealer__map_results__city {
	font-size: 30px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: normal;
	color: #1a85ca;
	text-transform: uppercase;
	padding: 0;
	margin: 0 0 15px;
	float: left;
}

.dealer-info-box {
	margin: 10px 0 35px;
}

.dealer-info-box .dealer-test-drive_parent-link {
	display: none;
}

/*remove these importants - csssryleru conflict*/

.dealer-info-box .dealer-info {
	display: inline-block;
	height: 185px;
	margin: 10px 10px 10px 0 !important;
	vertical-align: top;
	width: 300px;
}

.pop_body {
	height: 100%;
}

.dealer-info-box .dealer-name {
	border: medium none;
	margin: 0 !important;
	padding-bottom: 15px !important;
}

.dealer-info-box .pop_text > span {
	font-size: 16px;
}

.dealer-info-box .pop_text > span.dealer-address {
	color: #303030;
	line-height: 1.3;
	max-width: 270px;
	min-height: 45px;
	/*     text-decoration: underline dashed #808080; */
}

.dealer-info-box .pop_text > span.dealer-address:hover {
	text-decoration: none;
}

.dealer-info-box .pop_text > span.dealer-phone {
	color: #404040;
	font-size: 15px;
	font-weight: bold;
}

.dealer-info-box .dealer-site {
	/*    bottom: 0;
		margin-top: 10px;
		position: absolute;*/
}

.dealer-info-box-devider {
	background-color: #e6e6e6;
	height: 1px;
	margin: 35px 0;
	width: 100%;
}

.dealer-info-box .call-to-dealer {

}

.dealer-info-box .call-to-dealer a.zingaya_button1370324828422 {
	background-image: url("/media/img/call-to-dealer-icon-off.png");
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: 20px center;
	display: inline-block;
	float: none;
	height: 42px;
	margin: 0 !important;
	width: 150px;
	box-sizing: border-box;
	border: 2px solid #1a85ca;
	font-size: 11px;
	font-family: "Arial Black", Gadget, Arial, sans-serif;
	font-weight: 900;
	text-align: center;
	padding: 12px 0 0 32px;
	color: #1a85ca;
	text-transform: uppercase;
	transition: background 100ms, color 100ms;
}

.dealer-info-box .call-to-dealer a.zingaya_button1370324828422:hover {
	background-image: url("/media/img/call-to-dealer-icon-on.png");
	background-color: #1a85ca;
	background-repeat: no-repeat;
	background-position: 20px center;
	color: #fff;
	text-decoration: none;
}

/* epilog 01/03/16 */
.dealer-epilog {
	width: 940px;
	margin: 0 auto 45px;
}

.dealer-epilog p {
	color: #404040;
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

/* new dealers redesign end*/
/* 21/03/16 */
.becomeadealer-skyblue-btn {
	display: none;
	/*	background: #1a85ca;
        color: #fff;
        border: 2px solid #1a85ca;
        display: inline-block;
        font-family: "Arial Black";
        font-size: 12px;
        height: 50px;
        line-height: 48px;
        width: 180px;
        position: absolute;
        right: 0;
        top: 20px;
        text-decoration: none !important;
        text-transform: uppercase;
        text-align: center;
        transition: background 100ms ease 0s, color 100ms ease 0s;*/
}

.becomeadealer-skyblue-btn:hover {
	background: #fff;
	color: #1a85ca;
}

/*

**************
* DIRECTIONS *
**************

*/
.directions-wrap {
	font-size: 14px;
}

.directions-wrap .directions-text {
	color: #000;
	line-height: 3;
}

.directions-wrap .direction-type {
	display: inline-block;
	width: 50%;
	height: 30px;
	text-align: left;
	font-weight: bold;
	line-height: 30px;
	padding-left: 40px;
	position: relative;
	opacity: 1;
	text-decoration: none;
	transition: opacity .1s ease-out;
}

.directions-wrap .direction-type:not(.active):hover {
	opacity: .5;
}

.directions-wrap .direction-type.active {
	opacity: .5;
	cursor: default;
}

.directions-wrap .direction-type[data-type=DRIVING] {
	border-right: 1px solid #e8e8e8;
}

.directions-wrap .direction-type[data-type=WALKING]::before,
.directions-wrap .direction-type[data-type=DRIVING]::before {
	content: '';
	width: 35px;
	height: 30px;
	position: absolute;
	top: 0;
	left: 0;
	background: url('/media/img_new/travel-mode-sprite.png') no-repeat;
	background-size: 75px auto;
}

.directions-wrap .direction-type[data-type=WALKING]::before {
	background-position: -33px -2px;
}

.directions-wrap .direction-type[data-type=DRIVING]::before {
	background-position: 0 -2px;
}

.dealer__map_results .dealer-info-box .directions-wrap {
	display: none;
}

/*
*
*
*********************
* HIDE ZING BUTTONS *
*********************
*
*
*/
.call-to-dealer .zing_form_toggler {
	/* 	display: none !important; */
}

.dealer-direction {
	display: inline-block;
	width: 210px;
	font-family: 'Arial Black', Arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	margin-top: 15px;
	text-transform: uppercase;
	color: #1a85ca;
	position: relative;
	text-decoration: none !important;
}

.dealer-direction::after {
	background: url("/media/img/dropdown-icon.png") no-repeat scroll 3px -19px;
	content: '';
	display: inline-block;
	height: 10px;
	position: relative;
	transform: rotate(-90deg);
	width: 16px;
}

.dealer-direction::before {
	background: transparent;
	bottom: -6%;
	content: "";
	height: 1px;
	left: 12%;
	position: absolute;
	width: 73%;
	pointer-events: none;
	transition: background 0.1s ease 0s;
}

.dealer-direction:hover::before {
	background: #1a85ca;
}

#map_canvas.no-directions .dealer-direction {
	display: none !important;
	visibility: hidden !important;
	position: absolute !important;
	z-index: -1;
}

.dealer-info-box .dealer-direction {
	display: none;
}

.dealer-test-drive {
	background: #1a85ca url("/media/img/map-icon-arrow.png") no-repeat scroll 150px center;
	box-sizing: border-box;
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	height: 45px;
	line-height: 45px;
	padding: 0 16px 0 0;
	text-align: center;
	text-transform: uppercase;
	width: 210px;
	transition: background-color 0.1s ease 0s;
}

.dealer-test-drive:hover {
}

.dealer-test-drive_parent-link {
	position: relative;
}

/* special dealers styles */
.dealer-special-description {
	float: right;
	color: #9a9a9a;
	font-size: 14px;
	margin-top: .8em;
	position: relative;
}

.dealer-special-description::before,
.dealer-special-description::after {
	position: absolute;
	content: '';
	width: 6px;
	height: 20px;
	top: 2px;
	-moz-transform: skewX(-20deg);
	-webkit-transform: skewX(-20deg);
	transform: skewX(-20deg);
}

.dealer-special-description::before {
	background: #7a431e;
	left: -20px;
	width: 7px;
}

.dealer-special-description::after {
	background: #ab7757;
	left: -14px
}

.dealer-info-box .dealer-info.special .dealer-name {
	position: relative;
	color: #000;
	display: inline-block;

	max-width: 270px;
}

.dealer-info-box .dealer-info.special .dealer-name::before,
.dealer-info-box .dealer-info.special .dealer-name::after {
	bottom: 8px;
	content: "";
	left: -20px;
	position: absolute;
	right: -20px;
	top: -6px;
	z-index: -1;
}

.dealer-info-box .dealer-info.special .dealer-name::before {
	background: transparent url("/media/img/bg-dealer-special-name-static-@2x.png") no-repeat scroll right top / 340px auto
}

.dealer-info-box .dealer-info.special .dealer-name::after {
	background: transparent url("/media/img/bg-dealer-special-name-static-line-@2x.png") no-repeat scroll left bottom / 80px auto;
	width: 80px;
	right: auto;
}

.dealer-info-box .dealer-info.special .call-to-dealer a.zingaya_button1370324828422 {
	background-image: url("/media/img/call-to-dealer-icon-off_special.png");
	border-color: #7a431e;
	color: #7a431e;
}

.dealer-info-box .dealer-info.special .call-to-dealer a.zingaya_button1370324828422:hover {
	background-image: url("/media/img/call-to-dealer-icon-on.png");
	background-color: #7a431e;
	color: #fff;
}

.dealer-name span {
	font-family: HyundaiSansHead;
	font-weight: bold;
}

.wa_link {
	border: 2px solid #1a85ca;
	display: none;
	height: 42px;
	line-height: 40px;
	margin-right: 5px;
	padding: 2px 3px;
	text-align: center;
	text-decoration: none;
	width: 40px;
}

.wa_link:hover {
	background: #1a85ca none repeat scroll 0 0;
	color: #fff;
	text-decoration: none;
}

.wap {
	background: rgba(0, 0, 0, 0.75) none repeat scroll 0 0;
	bottom: 0;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0 25px;
	pointer-events: none;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 200;
}

.wap.ready {
	pointer-events: auto;
}

.wap__body {
	background: #259fef none repeat scroll 0 0;
	color: #fff;
	font-family: "HyundaiSans";
	left: 0;
	margin: 50px auto;
	max-width: 650px;
	position: relative;
	right: 0;
	top: 0;
	transform: translate(0px, -80px);
	transition: transform 0.5s cubic-bezier(0.5, 0, 0.1, 1) 0s;
}

.wap.ready .wap__body {
	transform: translate(0px);
}

.wap__close {
	height: 24px;
	position: absolute;
	right: 30px;
	top: 25px;
	width: 24px;
}

.wap__close::before, .wap__close::after {
	background: #87cfff none repeat scroll 0 0;
	bottom: 0;
	content: "";
	height: 28px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	transition: background 0.15s ease-out 0s;
	width: 2px;
}

.wap__close::before {
	transform: rotate(45deg);
}

.wap__close::after {
	transform: rotate(-45deg);
}

.wap__close:hover {
	transform: rotate(90deg);
	transition: transform 0.15s ease-in 0s;
}

.wap__close:hover::before, .wap__close:hover::after {
	background: #fff none repeat scroll 0 0;
}

.wap__content {
}

.wap__text-content {
	padding: 70px 80px 80px 50px;
}

.wap__header {
	font-family: "HyundaiSansHead";
	font-size: 45px;
	line-height: 1.2;
}

.wap__descr {
	font-size: 18px;
	line-height: 1.3;
	margin: 35px 0;
}

.wap__ref {
	color: inherit;
	font-family: "HyundaiSansHead";
	font-size: 16px;
	font-weight: 500;
	position: relative;
	text-transform: uppercase;
}

.wap__ref::after {
	border-bottom-right-radius: 3px;
	border-color: currentcolor currentcolor transparent transparent;
	border-style: solid;
	border-top-left-radius: 3px;
	border-width: 2px;
	content: "";
	display: inline-block;
	height: 10px;
	margin-left: 0.25em;
	transform: rotate(45deg);
	vertical-align: baseline;
	width: 10px;
}

.wap__img {
	display: block;
	width: 100%;
}

.dealer-info.wa .wa_link {
	display: inline-block;
}

.pop_body .dealer-site {
	min-height: 26px;
}
.title_big {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: normal;
	color: #1a85ca;
	text-transform: uppercase;
	padding: 0;
	margin: 15px 0 15px;
}
h2.title_big {
	font-size: 20px;
}
h3.title_big {
	font-size: 16px;
	font-weight:bold;
}
ul.list_site{
	padding: 10px 0;
	list-style: none;
}
ul.list_site > li{
	position: relative;
	padding-left: 10px;
	font-size: 14px;
}
ul.list_site > li:before{
	content: '';
	position: absolute;
	top: 10px;
	left: 0;
	width: 4px;
	height: 4px;
	margin-top: -2px;
	background: #003469;
}