.title-price-sale {
    background: #c7141c;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    margin: 11px 0 -4px;
    padding: 5px 10px;
}

.subscribe-form {
    margin-top: 127px;
}