div.news-detail
{
	word-wrap: break-word;
}
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}

.top-margin {
	overflow: hidden;
	margin-top: 25px;
	clear: both;
}

.news-center-rss-text.offer{
	color: #0084CF;
}

.btn.offer {
	border: 2px solid #7E0500;
	background: #7E0500;
}
.btn.offer:hover {
	color: #7E0500;
}
.btn.offer-setting {
	border: 2px solid #7E0500;
	background: #7E0500;
}
.btn.offer-setting:hover {
	color: #7E0500;
}


.f-row-item{
	text-align: center;
}

.f-row-item img{
	margin-bottom: 20px;
}
.f-row-item div{
	font-weight: 700;
}
.news-center.offer{
	padding: 0px;
}

.news-center-head.offer{
	margin-bottom: 0px;
	color: #0072BB;
}
.offer-slogan{
	font-family: 'HyundaiSansHead',sans-serif;
	color: #A8A8A8;
	font-size: 20px;
	line-height: 1;
	margin-bottom: 30px;
	margin-left: 3px;
}

.news-center-table-td.a-rigth{
	text-align: right;
}

.offer-default-setting{
	min-height: 500px;
	background-repeat: no-repeat;
	background-position: right 0px center;
}

.setting-offer h1{
	color: #0071BD;
	font-size: 38px;
	font-weight: 500;
}

.setting-offer ul{
	font-size: 26px;
	color: #0071BD;
	margin-left: 30px;
}
.setting-offer ul li span{
	color: #A0A0A0;
}
.setting-offer ul li{
	list-style: disc;
}

.news-center .btn.offer-setting{
	width: 209px;
	text-align: center;
	margin-left: 20px;
	margin-top: 20px;
}

.news-center-table-td{
	text-align: left;
}

.paralax-offer{
	margin: 30px auto;
}

.paralax-offer img{
	width: 100%;
	height: 100%;
}

.offer-form{
	background-repeat: no-repeat;
	min-height: 500px;
	/* background-position: left 0px center; */
	contain: content;
}
.forma{
	width: 60%;
	float: right;
}

.afbf_item_pole .afbf_select, .afbf_item_pole .afbf_textarea, .afbf_item_pole .afbf_inputtext{
	height: 50px!important;
	font-size: 20px!important;
}

.offer-form #alx_feed_back_FID1 .afbf_feedback_poles .afbf_btn {
	color: #fff !important;
	background: #7E0500!important;
}

.offer-form h1{
	text-align: center;
	font-size: 32px;
	color: #0085CF;
}
.slider{
	position: relative;
}

.box-price-absolute-right{
	position: absolute;
	bottom: 55px;
	z-index: 100000001;
	right: -15px;
}
.box-price-absolute-left{
	position: absolute;
	bottom: 55px;
	z-index: 100000001;
	left: -15px;
}

.box-price-absolute-right > .box-price {
	text-align: center;
	float: left;
	width: 220px;
	height: 80px;
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	padding: 17px 0px;
}
.box-price-absolute-left > .box-price {
	text-align: center;
	float: left;
	width: 220px;
	height: 80px;
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
	padding: 17px 0px;
}


.box-price-absolute-right > .box-price p{
	margin: -10px;
	transform: skew(20deg);
	font-size: 25px;
	font-weight: bold;
	color: #fff;
}
.box-price-absolute-left > .box-price p{
	margin: -10px;
	transform: skew(-20deg);
	font-size: 25px;
	font-weight: bold;
	color: #fff;
}

.box-price-absolute-right > .box-price:nth-child(2n+1) {
	background-color: #0084CF;
}
.box-price-absolute-left > .box-price:nth-child(2n+1) {
	background-color: #0084CF;
}
.box-price-absolute-right > .box-price:nth-child(2) {
	background-color: #7E0500;
}
.box-price-absolute-left > .box-price:nth-child(2) {
	background-color: #7E0500;
}
.box-price-absolute-right > .box-price:nth-child(3) {
	width: 250px;
}
.box-price-absolute-left > .box-price:nth-child(1) {
	width: 250px;
}


.paralax-offer{
	position: relative;
}
.paralax-offer > p{
	position: absolute;
	color: #fff;
	bottom: 5px;
	font-size: 14px;
}
.slider > p{
	position: absolute;
	color: #fff;
	bottom: 5px;
	font-size: 14px;
	z-index: 100000001;
	right: 5px;
}
.main-slideshow{
	height: 630px!important;
}