div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

.h1-offer{
	font-weight: 300;
	font-family: 'HyundaiSansHead',sans-serif;
	color: #0084CF;
	font-size: 40px;
	text-transform: uppercase;
	text-align: center;
}

.offers {
	background: #f7f7f7;
	padding-bottom: 15px;
	margin-top: 90px;
}

.super-offer-slide-giant{

	float: left;
}



.super-offer-slide-giant .item{
	max-width: 300px;
	height: 100%;
	margin: 5px;
	text-align: center;
	position: relative;
	box-shadow: 1px 1px 10px 1px #95938e;
}


.mCarListCards_Item_Info_Name{
	position: absolute;
	top: 210px;
	width: 200px;
	height: 40px;
	background: #147FCC;
	left: 0px;
	padding: 5px 0px;
}

.super-offer-slide-giant .item .mCarListCards_Item_Info .mCarListCards_Item_Info_Name a{
	color: #fff;
	font-family: 'HyundaiSansHead',sans-serif;
	font-size: 18px;
	font-weight: 100;
	text-transform: uppercase;
}

.super-offer-slide-giant .item .mCarListCards_Item_Info .mCarListCards_Item_Info_Name a:hover{
	text-decoration: none;
}


.mtr-btn.mtr-btn-blue {
	border-color: #0084CF;
	color: white;
	background-color: #0084CF;
}
.mtr-btn.mtr-btn-wide {
	width: 175px;
	height: 50px;
	font-size: 22px;
	font-family: 'HyundaiSansHead',sans-serif;
	font-weight: 100;
	padding: 7px;
}
.mtr-btn {
	border-style: solid;
	font-family: 'HyundaiSansHead',sans-serif;
	text-transform: uppercase;
	text-align: center;
	display: inline-block;
	padding: 2px 20px;
	font-size: 17px;
}
.mCarListCards_Item_Info {
	padding: 20px;
}

.mCarListCards_Item_Info_Props_Item .gray-text{
	font-size: 18px;
	color: #807D7E;
	margin-bottom: 20px;
	font-weight: 500;
}
.mCarListCards_Item_Info_Props_Item .red-text{
	font-size: 18px;
	color: #943D3E;
	margin-bottom: 20px;
	font-weight: 500;
}
.mCarListCards_Item_Info_Props_Item .w-gray-text{
	font-size: 18px;
	color: #C0C0C0;
	margin-bottom: 20px;
	font-weight: 500;
}





.offer-sale{
	position: absolute;
	top: 0px;
	left: 0px;
}

.offer-sale span{
	display: block;
}

.offer-sale span:first-child{
	width: 250px;
	height: 30px;
	background: #147FCC;
	padding: 0px;
	color: #fff;
	font-family: 'HyundaiSansHead',sans-serif;
	font-size: 22px;
	font-weight: 100;
	text-transform: uppercase;
}
.offer-sale span:last-child{
	width: 0;
	height: 0;
	border-top: 0px solid transparent;
	border-left: 180px solid #176AA9;
	border-bottom: 30px solid transparent;
	position: relative;
}
.offer-sale span:last-child p{
	position: absolute;
	top: 5px;
	left: -177px;
	color: #fff;
	font-size: 11px;
	font-family: 'HyundaiSansHead',sans-serif;
	transform: rotate(-7deg);
}

.mCarListCards_Item_Info_Props span{
	font-family: 'HyundaiSansHead',sans-serif;
	font-weight: 400;
	line-height: 40px;
}
.mCarListCards_Item_Info_Props{
	margin: 10px 0px;
	text-align: left;
}

.mCarListCards_Item_Info_Props span.t1{
	font-size: 14px;
	text-transform: uppercase;
}
.mCarListCards_Item_Info_Props span.t2{
	font-size: 24px;
	color: #44A2DA;
	font-weight: 300;
	margin-left: 10px;
}
.mCarListCards_Item_Info_Props span.t3{
	font-size: 19px;
	text-transform: uppercase;
}
.mCarListCards_Item_Info_Props span.t4{
	font-size: 30px;
	font-weight: bold;
	color: #0F578A;
	margin-left: 20px;
	background: linear-gradient(45deg, #0D4B79 20%, #228cff 66%, #8AA9D6);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.item > a{
	float: left;
	overflow: hidden;
	width: 300px;
	height: 230px;
	margin-bottom: 25px;
}
.item > a img{
	max-height: 230px;
}

.content-wrap {
	position: relative;
	width: 940px;
	margin: auto;
	margin-top: 20px;
}

.super-offer-slide-giant .filter-box{
	width: 260px;
	background: #ffffff;
	box-shadow: 0px 0px 8px 0px #CAC9C5;
	margin-top: 5px;
	margin-right: 50px;
	padding: 20px;
}
.super-offer-slide-giant .filter-box .filter-header{
	color: #a6a6a6;
	font-family: "HyundaiSansHead",sans-serif;
	font-size: 20px;
}
.super-offer-slide-giant .filter-box .filter-body p{
	color: #636669;
	font-family: "HyundaiSansHead",sans-serif;
	font-size: 20px;
	cursor: pointer;
}
.super-offer-slide-giant .filter-box .filter-body li{
	color: #636669;
	font-family: "HyundaiSansHead",sans-serif;
	font-size: 15px;
}
.super-offer-slide-giant .filter-box .filter-body p span{
	font-size: 17px;
}


.super-offer-slide-giant .option-input {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	position: relative;
	top: 5.33333px;
	right: 0;
	bottom: 0;
	left: 0;
	height: 20px;
	width: 20px;
	transition: all 0.15s ease-out 0s;
	background: #cbd1d8;
	border: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	margin-right: 0.5rem;
	outline: none;
	position: relative;
	z-index: 100;
}
.option-input:hover {
	background: #9faab7;
}
.option-input:checked {
	background: #0080D0;
}

.super-offer-slide-giant .filter-box .filter-body ul{
	margin-left: 25px;
}




